
<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="assets/css/custom.css">

    </head>

    <body>
        <div class="loader"></div>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                <%- include('../includes/sidebar_nav.ejs') %>
                    <!-- Main Content -->

                    <div class="main-content">
                        <section class="section">
                            <div class="section-body">
                               
                                <section class="h-100" style="background-color: #eee;">
                                    <div class="container h-100 py-5">
                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col-10">
                                                
                                
                                                <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                                                    <div>
                                                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                                                                    class="fas fa-angle-down mt-1"></i></a></p>
                                                    </div>
                                                </div>
                                                <% let totalprice = 0 %>
                                                <% if(products) { %>
                                                    <% for(var p of products) { %> 
                                                        <div class="card rounded-3 mb-4">
                                                            <div class="card-body p-4">
                                                                <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                                        <img src="<%=p.product.product_image%>"
                                                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                                        <p class="lead fw-normal mb-2"><%=p.product.product_name%> </p>
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                                        <h5 class="mb-0"> <%=  p.product.price %> </h5>
                                                                    </div>
                                                                    <% totalprice = totalprice +   (p.quantity * p.product.price) %>
                                                                    
                                                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                                        <form action="" method="post">
                                                                       
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } }%>  
                                
                                               
                                
                                                <div class="card">
                                                    <div class="card-body">
                                                       
                                                        <form action="/payment" method="post">
                                                            <input type="hidden" name="amount" value="total Payable Amount for your order is ">

                                                            <input type="hidden" name="amount" value="<%= totalprice %>">
                                                        <button type="submit" class="btn btn-warning btn-block btn-lg">Pay Now</button>
                                                    </form>
                                                    </div>
                                                </div>
                                
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>



                        </section>
                        <%- include('../includes/theme_converter.ejs') %>

                    </div>
                    <script src="assets/bundles/prism/prism.js"></script>
  <%- include('../includes/footer.ejs') %>